

/* Small screen:mobile */
@media only screen and (max-width: 500px) {
  .root body {
    background-color: #403c3b;
  }
  .root .page {
    max-width: 480px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .root .page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .root .page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
  .root .page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .root h1 {
    /*background-image: url(../images/2xkinglogo.png);*/
    background-size: 72px 72px;
  }
}

  