.Avatars {
  font-family: quicksand;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/images/gifs/back.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Avatars h1 {
  font-size: 24px;
  margin: 0;
}

.Avatars h2 {
  text-align: center;
  font-size: 32px;
}

.Avatars p {
  text-align: center;
  font-size: 20px;
}

.Avatars nav {
  text-align: center;
}

.Avatars nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px;
  color: #c3b1e1;
}

.Avatars nav a:hover {
  color: #f6d7e8;
}

.Avatars nav li {
  list-style: none;
  display: inline-block;
}

.Avatars .container {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.Avatars .card {
  border: 2px solid #dcd0ea;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(0s, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}
