@font-face {
  font-family: quicksand;
  font-display: swap;
  src: url(./assets/fonts/Quicksand.ttf);
}

body {
  font-family: quicksand;
  font-size: 20px;
  margin: 0;
}

:root{
  ---selection-color: rgb(231, 195, 254); 
}

*::selection {
  color: white;
  background-color: var(---selection-color);
}
