@font-face {
    font-family: Quicksand;
    src: url(Quicksand-VariableFont_wght.ttf);
}

body{
    margin:0;
    
    font-family: Quicksand;
}

*::selection{color:white; background-color:rgb(231, 195, 254)}